
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoRia</title>
</head>
<body>

<table style="width: 100%; padding: 4px 35px; border: #b0e083 5px solid; background-color: #ffffff; box-sizing: border-box">
  <tr>
    <td style="font-size: 20px; text-align: left;">
      <b>AUTO RIA</b>
    </td>
    <td style="text-align: right;">
      <img style="width: 55px; height: 55px; margin: 0"
           src= "https://i.pinimg.com/736x/df/b2/d4/dfb2d42e22426be05a6757f161f1e3cb.jpg"
           alt="icon">
    </td>
  </tr>
</table>

<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        Some user has finished 3 attempts to change his offer. Please check this offer for profanity <i>{{offerId}}</i>
      </p>
      <a href="{{url}}"> check this post for profanity </a>
    </td>
  </tr>
</table>

<table style="width: 100%; padding: 10px 35px; background-color: #b0e083; box-sizing: border-box">
  <tr>
    <td style="font-size: 14px; text-align: center;">
      MyAutoRia - Copyright © 2024
    </td>
  </tr>
</table>

</body>
</html>
